.navOption {
    position: relative;
    height: 80px;
    background-color: var(--bg-secondary);


text-align: center;

display: flex;
align-items: center;
justify-content: space-between;





    #title {
        display: inline-block;
        margin: 0px auto;
       
        

        border-radius: 5px;


    }




}