#search-bar {
    display: flex;
    margin-top: 50px;

    justify-content: center;

    input {
        border: none;
        outline: none;
        background: none;
        font: inherit;
        text-decoration: none;


        width: 80%;
        height: 40px;
        padding: 10px;
        border: 4px solid #036;
        border-radius: 10px;
         background-color: #00336640;
        

    }

    input:focus{
       background-color: #00001030;
        padding: 11px 10px;
        border: 3px solid #036;
    }



}